@font-face {
    font-family: 'SuisseIntl';
    font-weight: 300;
    src: url('./src/assets/fonts/SuisseIntl-Light.woff') format('woff');
}

@font-face {
    font-family: 'SuisseIntl';
    font-weight: 400;
    src: url('./src/assets/fonts/SuisseIntl-Regular.woff') format('woff');
}

@font-face {
    font-family: 'SuisseIntl';
    font-weight: 500;
    src: url('./src/assets/fonts/SuisseIntl-Medium.woff') format('woff');
}

@font-face {
    font-family: 'SuisseIntl';
    font-weight: 600;
    src: url('./src/assets/fonts/SuisseIntl-SemiBold.ttf') format('ttf');
}

body {
    font-family: 'SuisseIntl', sans-serif;
}

/* scroll-bar */
::-webkit-scrollbar {
    width: 15px;
    background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
    border-radius: 999px;
    background-color: #c0c0c0;
    border: 3px solid transparent;
    background-clip: content-box;
}