@media screen and (max-width: 600px) {
    .landing-text {
      font-size: 1.5rem;
    }
  }
  
  @media screen and (max-width: 450px) {
    .landing-text {
      font-size: 1.2rem;
    }
  }
  
  @media screen and (max-width: 360px) {
    .landing-text {
      font-size: 1rem;
    }
  }

.home {
  background-image: url(/src/assets/images/dots.svg);
  background-position: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: contain;
}