

.content h1 {
  margin-top:30%;
  /* background-color: black; */
  position: absolute;
  /* color:black; */
  transform: translate(-50%, -50%);
  z-index: 1000;
  font-size: 25rem;
  font-weight: 900;
  font-family: 'SuisseIntl', sans-serif;
}

/* .innerve-text{
  position: absolute;
  bottom: 20vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
} */



.content h1:nth-child(1) {
  color: transparent;
  /* -webkit-text-stroke: 2px black; */
  background: -webkit-linear-gradient(90deg, #5a5a5a, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #F9F0E7;
}

.content h1:nth-child(3) {
  color: transparent;
  -webkit-text-stroke: 0 black;
}

.content h1:nth-child(2) {
  background: -webkit-linear-gradient(#ffffff, #FDDE56);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 8s ease-in-out infinite;
}

.content h1:nth-child(3) {
  background: -webkit-linear-gradient(#ffffff, #e037a8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate1 6s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(100% 100%, 0% 100%, 0.00% 67.71%, 2.00% 69.20%, 4.00% 70.65%, 6.00% 72.04%, 8.00% 73.34%, 10.00% 74.54%, 12.00% 75.61%, 14.00% 76.54%, 16.00% 77.32%, 18.00% 77.93%, 20.00% 78.36%, 22.00% 78.61%, 24.00% 78.66%, 26.00% 78.53%, 28.00% 78.21%, 30.00% 77.71%, 32.00% 77.04%, 34.00% 76.20%, 36.00% 75.21%, 38.00% 74.09%, 40.00% 72.85%, 42.00% 71.51%, 44.00% 70.09%, 46.00% 68.63%, 48.00% 67.13%, 50.00% 65.62%, 52.00% 64.13%, 54.00% 62.68%, 56.00% 61.29%, 58.00% 59.99%, 60.00% 58.79%, 62.00% 57.72%, 64.00% 56.79%, 66.00% 56.01%, 68.00% 55.40%, 70.00% 54.97%, 72.00% 54.73%, 74.00% 54.67%, 76.00% 54.80%, 78.00% 55.12%, 80.00% 55.62%, 82.00% 56.30%, 84.00% 57.13%, 86.00% 58.12%, 88.00% 59.25%, 90.00% 60.49%, 92.00% 61.82%, 94.00% 63.24%, 96.00% 64.71%, 98.00% 66.21%, 100.00% 67.71%);
  }

  25% {
    clip-path: polygon(100% 100%, 0% 100%, 0.00% 78.62%, 2.00% 78.33%, 4.00% 77.77%, 6.00% 76.96%, 8.00% 75.92%, 10.00% 74.67%, 12.00% 73.23%, 14.00% 71.65%, 16.00% 69.95%, 18.00% 68.18%, 20.00% 66.37%, 22.00% 64.57%, 24.00% 62.82%, 26.00% 61.16%, 28.00% 59.62%, 30.00% 58.24%, 32.00% 57.05%, 34.00% 56.08%, 36.00% 55.35%, 38.00% 54.88%, 40.00% 54.68%, 42.00% 54.74%, 44.00% 55.08%, 46.00% 55.68%, 48.00% 56.53%, 50.00% 57.61%, 52.00% 58.90%, 54.00% 60.36%, 56.00% 61.96%, 58.00% 63.67%, 60.00% 65.45%, 62.00% 67.26%, 64.00% 69.05%, 66.00% 70.79%, 68.00% 72.44%, 70.00% 73.96%, 72.00% 75.30%, 74.00% 76.46%, 76.00% 77.39%, 78.00% 78.08%, 80.00% 78.51%, 82.00% 78.67%, 84.00% 78.55%, 86.00% 78.17%, 88.00% 77.53%, 90.00% 76.64%, 92.00% 75.52%, 94.00% 74.21%, 96.00% 72.72%, 98.00% 71.09%, 100.00% 69.37%);
  }

  50% {
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 73.09%, 2.00% 72.29%, 4.00% 71.44%, 6.00% 70.53%, 8.00% 69.58%, 10.00% 68.61%, 12.00% 67.61%, 14.00% 66.61%, 16.00% 65.61%, 18.00% 64.61%, 20.00% 63.64%, 22.00% 62.70%, 24.00% 61.80%, 26.00% 60.95%, 28.00% 60.15%, 30.00% 59.42%, 32.00% 58.77%, 34.00% 58.19%, 36.00% 57.70%, 38.00% 57.30%, 40.00% 57.00%, 42.00% 56.79%, 44.00% 56.68%, 46.00% 56.68%, 48.00% 56.77%, 50.00% 56.96%, 52.00% 57.26%, 54.00% 57.64%, 56.00% 58.12%, 58.00% 58.68%, 60.00% 59.33%, 62.00% 60.05%, 64.00% 60.83%, 66.00% 61.68%, 68.00% 62.57%, 70.00% 63.51%, 72.00% 64.48%, 74.00% 65.47%, 76.00% 66.47%, 78.00% 67.48%, 80.00% 68.47%, 82.00% 69.45%, 84.00% 70.40%, 86.00% 71.31%, 88.00% 72.18%, 90.00% 72.99%, 92.00% 73.73%, 94.00% 74.41%, 96.00% 75.00%, 98.00% 75.52%, 100.00% 75.94%);
  }

  75% {
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 63.25%, 2.00% 62.10%, 4.00% 61.02%, 6.00% 60.03%, 8.00% 59.14%, 10.00% 58.38%, 12.00% 57.74%, 14.00% 57.25%, 16.00% 56.90%, 18.00% 56.71%, 20.00% 56.67%, 22.00% 56.80%, 24.00% 57.07%, 26.00% 57.50%, 28.00% 58.08%, 30.00% 58.79%, 32.00% 59.62%, 34.00% 60.57%, 36.00% 61.61%, 38.00% 62.73%, 40.00% 63.91%, 42.00% 65.14%, 44.00% 66.39%, 46.00% 67.64%, 48.00% 68.88%, 50.00% 70.09%, 52.00% 71.24%, 54.00% 72.32%, 56.00% 73.31%, 58.00% 74.19%, 60.00% 74.96%, 62.00% 75.59%, 64.00% 76.09%, 66.00% 76.43%, 68.00% 76.63%, 70.00% 76.66%, 72.00% 76.54%, 74.00% 76.26%, 76.00% 75.83%, 78.00% 75.26%, 80.00% 74.55%, 82.00% 73.71%, 84.00% 72.77%, 86.00% 71.73%, 88.00% 70.61%, 90.00% 69.42%, 92.00% 68.20%, 94.00% 66.95%, 96.00% 65.69%, 98.00% 64.45%, 100.00% 63.25%);
  }
}

@keyframes animate1 {

  0%,
  100% {
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 63.25%, 2.00% 62.10%, 4.00% 61.02%, 6.00% 60.03%, 8.00% 59.14%, 10.00% 58.38%, 12.00% 57.74%, 14.00% 57.25%, 16.00% 56.90%, 18.00% 56.71%, 20.00% 56.67%, 22.00% 56.80%, 24.00% 57.07%, 26.00% 57.50%, 28.00% 58.08%, 30.00% 58.79%, 32.00% 59.62%, 34.00% 60.57%, 36.00% 61.61%, 38.00% 62.73%, 40.00% 63.91%, 42.00% 65.14%, 44.00% 66.39%, 46.00% 67.64%, 48.00% 68.88%, 50.00% 70.09%, 52.00% 71.24%, 54.00% 72.32%, 56.00% 73.31%, 58.00% 74.19%, 60.00% 74.96%, 62.00% 75.59%, 64.00% 76.09%, 66.00% 76.43%, 68.00% 76.63%, 70.00% 76.66%, 72.00% 76.54%, 74.00% 76.26%, 76.00% 75.83%, 78.00% 75.26%, 80.00% 74.55%, 82.00% 73.71%, 84.00% 72.77%, 86.00% 71.73%, 88.00% 70.61%, 90.00% 69.42%, 92.00% 68.20%, 94.00% 66.95%, 96.00% 65.69%, 98.00% 64.45%, 100.00% 63.25%);
  }

  50% {
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 56.70%, 2.00% 56.67%, 4.00% 56.80%, 6.00% 57.08%, 8.00% 57.52%, 10.00% 58.09%, 12.00% 58.81%, 14.00% 59.65%, 16.00% 60.59%, 18.00% 61.64%, 20.00% 62.76%, 22.00% 63.94%, 24.00% 65.17%, 26.00% 66.42%, 28.00% 67.68%, 30.00% 68.92%, 32.00% 70.12%, 34.00% 71.27%, 36.00% 72.35%, 38.00% 73.33%, 40.00% 74.21%, 42.00% 74.98%, 44.00% 75.61%, 46.00% 76.10%, 48.00% 76.44%, 50.00% 76.63%, 52.00% 76.66%, 54.00% 76.53%, 56.00% 76.25%, 58.00% 75.82%, 60.00% 75.24%, 62.00% 74.53%, 64.00% 73.69%, 66.00% 72.74%, 68.00% 71.70%, 70.00% 70.57%, 72.00% 69.39%, 74.00% 68.16%, 76.00% 66.91%, 78.00% 65.66%, 80.00% 64.42%, 82.00% 63.21%, 84.00% 62.06%, 86.00% 60.99%, 88.00% 60.00%, 90.00% 59.12%, 92.00% 58.36%, 94.00% 57.73%, 96.00% 57.23%, 98.00% 56.89%, 100.00% 56.70%);
  }
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@media screen and (min-width: 1441px) {
  .content h1 {
    font-size: 25rem;
    margin-top:10%;
  }
}

@media screen and (max-width: 1440px) {
  .content h1 {
    font-size: 22rem;
    margin-top:13%;
  }
}

@media screen and (max-width: 1280px) {
  .content h1 {
    font-size: 19rem;
    margin-top:5%;
  }
}

@media screen and (max-width: 1050px) {
  .content h1 {
    font-size: 16rem;
    margin-top:5%;
  }
}

@media screen and (max-width: 860px) {
  .content h1 {
    font-size: 14rem;
    margin-top:20%;
  }
}

@media screen and (max-width: 750px) {
  .content h1 {
    font-size: 11rem;
    margin-top:25%;
  }
}

@media screen and (max-width: 600px) {
  .content h1 {
    font-size: 8rem;
  }
}

@media screen and (max-width: 450px) {
  .content h1 {
    font-size: 7rem;
  }
}

@media screen and (max-width: 350px) {
  .content h1 {
    font-size: 5rem;
  }
}