@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

:root {
  font-family: 'SuisseIntl', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #F6F6F6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.timer-seconds {
  border-radius: 8.528px !important;
  background: linear-gradient(308deg, #DF6E47 25.02%, #E7885A 60.24%, #F0A36D 96.24%) !important;
}

.timer-minutes {
  border-radius: 8.528px;
  background: linear-gradient(155deg, #F5AEDD 15.11%, #E493C9 49.48%, #C97FB0 83.26%);
}

.timer-hours {
  border-radius: 8.528px;
  background: linear-gradient(135deg, #C1D29D 17.19%, #90C280 42.8%, #8FB781 67.96%);
}

.timer-days {
  border-radius: 8.528px;
  background: linear-gradient(128deg, #FDF0B7 -18.27%, #FFEA8C 15.95%, #FDDE56 49.56%);
}

/* .innerve-text{
  position: absolute;
  bottom: 20vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
} */

.navigator {
  display: none;
}

.active-nav {
  display: block;
  width: 100px;
  height: 100px;
  background-color: red;
}

.banner {
  border-radius: 14px;
  color: rgba(33, 33, 33, 0.80);
  margin: 2rem;
  background: var(--green, linear-gradient(135deg, #C1D29D 17.19%, #90C280 42.8%, #8FB781 67.96%));
}

.banner-heading {
  font-size: 3rem;
}

.banner-subheading {
  font-size: 1.2rem;
}

.banner-sub {
  display: flex;
  flex-wrap: wrap;
}

.activebtn {
  background: var(--Shocking-Orange, linear-gradient(308deg, #DD6843 25.02%, #F0A36D 96.24%));
}

.normalbtn {
  opacity: 0.8;
  background: var(--Shocking-Orange, linear-gradient(308deg, #DD6843 25.02%, #F0A36D 96.24%));
}

.middle-footer {
  border-top: .1px solid rgb(61, 60, 60);
}

.middle-footer h3 {
  font-size: 1.5rem;
  padding-bottom: 0.8rem;
}

.footer-spot {
  width: 8rem;
  position: absolute;
  bottom: 0;
  right: -8rem;
}

.oss-logo-footer {
  max-height: 200px;
}

@media screen and (max-width: 450px) {
  .nav-inner {
    padding: 1rem 1rem;
  }

  .banner-sponser {
    display: flex;
    flex-flow: row !important;
    flex-wrap: wrap !important;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .banner-heading {
    font-size: 2.5rem;
  }

  .banner-subheading {
    font-size: .9rem;
  }

  .banner {
    padding: 1rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


.memories {
  @media (max-width: 1240px) {
    display: none;
  }
}