@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

.navigator {
    position: fixed;
    top: 0;
    right: -300px; /* Initial position off-screen */
    width: 300px;
    height: 100%;
    background-color: #000;
    transition: transform 1s ease-in-out;
}

.menu-nav{
    position: fixed;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 101;
    background-color: #212121;
    transition: 1.5s;
}

.menu-nav-items{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    z-index: -1;
    border-left: 2px solid #2C2C2C;
}
.menu-nav-items ul li{
    font-family: 'Gilroy-Bold', sans-serif;
}
.menu-nav-footer{
    border-bottom: 2px solid #2C2C2C;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}
.socials-list{
    color: #909090;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 23.36px */
    letter-spacing: 0.32px;
}

.menu-nav-header{
    border-bottom: 2px solid #2C2C2C;
}

.show-menu{
    width: 100%;
    height: 100%;
}

.navigator.open {
    transform: translateX(-300px); /* Slide in from the right */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000000;
}

.overlay.open {
    display: block;
}
